body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

main {
    background-color: white;
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

section {
    margin-top: 20px;
}

input, button {
    padding: 8px;
}

button {
    cursor: pointer;
}

.mensaje {
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin: 5px 10px 5px 0;
}
